.side-bar {
  width: 300px;
  float: left;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__contents {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        color: white;
      }
      &__icon {
        display: flex;
        .contents__btn {
          color: #ffffff;
          padding-left: 5px;
        }
      }
    }
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    .group-list-text {
      text-decoration: none;
      color: white;
    }
    &__contents {
      margin-bottom: 40px;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }

    }
    
  }
}